<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Make the image responsive */
    img {
      max-width: 100%;
      height: auto;
      display: block; /* Remove extra space below the image */
      margin: 0 auto; /* Center the image */
    }
  </style>
  <title>Responsive Image</title>
</head>
<body>
  <img src="_includes/folder/gender_balance.png" alt="Responsive Image">

</body>
</html>
